<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gita.gxty_runner">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="高校体育辅助"
        android:theme="@android:style/Theme.DeviceDefault"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="高校体育最强辅助模块\n模块设置：\n高校体育APP->我的->模块设置" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />
    </application>
</manifest>
